body{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    color: #F0B03E;
    background-color: #f4e4bc;
    text-align: left;
    line-height: 2;
}
.rev{
    background-color: white;
}
h1{
    color: white;
}
h5{
    color: white;
}
h6{
    color: white;
}
.navbar-brand{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 900;
    padding-top: 3px;
}
ul{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}
